@mixin framed-text($foreColor, $frameColor, $offset, $blur){
    color: $foreColor;
    text-shadow:
    $offset $offset $blur $frameColor,
    $offset (-$offset) $blur $frameColor,
    (-$offset) $offset $blur $frameColor,
    (-$offset) (-$offset) $blur $frameColor,
    $offset 0 $blur $frameColor,
    (-$offset) 0 $blur $frameColor,
    0 $offset $blur $frameColor,
    0 (-$offset) $blur $frameColor;
}

$marquee-bg: rgb(94, 83, 83);
body.marquee {
    -webkit-user-select: none;
    user-select: none;
    background-color: $marquee-bg;
    margin: 0;
    padding: 0;
}

#marquee0.marquee-local>.m-marquee-inner {
    .m-marquee-content:before {
        background-image: -webkit-linear-gradient(-90deg, rgba($marquee-bg, 0) 0%, rgba($marquee-bg, 1) 100%); 
        background-image: linear-gradient(-90deg, rgba($marquee-bg, 0) 0%, rgba($marquee-bg, 1) 100%);
        width: 50px;
    }
    .m-marquee-content:after {
        background-image: -webkit-linear-gradient(90deg, rgba($marquee-bg, 0) 0%, rgba($marquee-bg, 1) 100%);
        background-image: linear-gradient(90deg, rgba($marquee-bg, 0) 0%, rgba($marquee-bg, 1) 100%); 
        width: 50px;
    }
}

.m-marquee-content {
    @include framed-text(#fff, rgb(0, 0, 60), 2px, 1px);
    font-size: 18px;
}

$carousel-paddingX: 10px;
body.carousel{
    background-color: rgb(85, 85, 97);
    color: rgb(255, 255, 255);
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    p {
        margin-block-start: 0px;
        margin-block-end: 10px;
        @include framed-text(#fff, rgb(0,0,0), 2px, 1px);
        font-size: 18px;
        margin-right: 20px;
    }
}

h2 {
    font-size: 36px;
    background-color: rgba(30, 140, 30, 0.7);
    border-style: solid;
    border-color: rgba(30, 140, 30, 1);
    border-width: 4px 0px 4px 0px;
    @include framed-text(#fff, rgb(80, 0, 0), 2px, 1px);
    padding-left: 10px;
    padding-bottom: 4px;
    margin-block-start: 20px;
    margin-block-end: 30px;
}

h3 {
    font-size: 28px;
    @include framed-text(#fff, rgb(80, 0, 0), 2px, 1px);
    margin-left: 10px;
    border-style: solid;
    border-width: 0px 0px 0px 20px;
    border-color: rgb(173, 207, 18);
    padding-left: 10px;
    margin-block-start: 40px;
    margin-block-end: 10px;
}

h4 {
    font-size: 24px;
    @include framed-text(#fff, rgb(80, 0, 0), 2px, 1px);
    padding-left: 10px;
    margin-block-start: 10px;
    margin-block-end: 0px;
}

div.paragraph {
    padding-left: $carousel-paddingX;
    padding-right: $carousel-paddingX;
}

.note>p {
    font-size: 12px;
}