@mixin framed-text($foreColor, $frameColor, $offset, $blur){
    color: $foreColor;
    text-shadow:
    $offset $offset $blur $frameColor,
    $offset (-$offset) $blur $frameColor,
    (-$offset) $offset $blur $frameColor,
    (-$offset) (-$offset) $blur $frameColor,
    $offset 0 $blur $frameColor,
    (-$offset) 0 $blur $frameColor,
    0 $offset $blur $frameColor,
    0 (-$offset) $blur $frameColor;
}

h2 {
    font-size: 36px;
    @include framed-text(#fff, rgb(80, 0, 0), 2px, 1px);
}

div.paragraph {
    font-size: 24px;
    @include framed-text(#fff, rgb(0,0,0), 2px, 1px);
}

.m-marquee-content {
    @include framed-text(#fff, rgb(0, 0, 120), 2px, 1px);
}